<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.neok.commonSpringboot.mapper.SecurityMapper">
	<select id="findById" resultType="hashmap">
		select 'ROLE_TEMP_2' auth,
				'test' username,
				'test' password
		from dual
	</select>
</mapper>